.BookList {
    display: flex;
    flex-direction: column; 
}

.Book {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 2;
}
.ReservedBook {
    display: flex;
    flex-direction: row;
}

.ReservedBook .reserved {
    color: red;
    margin-left: 5px;
}

.ReservedBook .available {
    color: green;
    margin-left: 5px;
}
