.Book {
    display:flex;
    flex-direction: row;
}

.BookCoverImage {
    max-height: 100%;
    width: 100%;
    height: auto;
}

.BookCoverBox {
    display: flex;
    flex: 20;
    padding: 20px;
    align-items: center;
}

.BookDetails {
    flex: 80;
}

.right-justify {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

@keyframes opaque-shake {
    0%, 100% {transform: translateX(0); opacity: 0.2; transform: scale(1);}
    15%, 55%, 95% {transform: scale(1.5);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-20px); opacity: 1;}
    20%, 40%, 60%, 80% {transform: translateX(20px); opacity: 0.2;}
}

@keyframes spin { 100% {transform:rotate(360deg); } }

.spin {
    animation: spin 200ms linear infinite;
    height: 50px;
    width: auto;
}

marquee {
    color: deeppink;
    background: radial-gradient(red, yellow, green);
    text-shadow: 2px 2px 5px deeppink,2px 2px 5px deeppink,2px 2px 5px deeppink,2px 2px 5px deeppink;
    animation-name: opaque-shake;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
